.footer{
    margin-top: 6.5rem;
    background-color: #020D37;
    padding: 3rem 4rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: #ACAFB8;
}
.footer p{
    margin: 1rem;
    font-family: "Inter";
    font-size: 0.85rem;
}
.footer .parag-footer{
    font-size: 0.9rem;
    margin: 1rem 0 1.25rem;
}
.footer span{
    font-size: 0.75rem;
    font-family: "Inter";
}
.left-sec-footer{
    width: 24vw;
    text-align: left;
}
.footer h4{
    font-family: "Inter";
    color: #EEEEEE;
}