.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 40vh;
    width: 40vw;
    font-size: 3rem;
    padding: 0.5rem 2rem;
    background-color: aqua;
    border: 1px solid lightgray;
    border-radius: 15px;
}
.clearTimer{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    
}